#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: fixed;
  top: 0; /* Stay at the top */
  left: 0;
}
/* Styles for the main content area */
.main_content {
  min-width: 320px;
  min-height: 100vh;
  top: 50px;
  left: 0;
  padding: 10px 0px;
  color: #333; /* Change text color */
  cursor: pointer;
  display: block;
  position: absolute;
}
